################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/HTMLRenderer/.vs/HTMLRenderer/v15/Browse.VC.opendb
